!!!
%html
  %head
    %title picaweso.me
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / TODO: remember to re-add IE conditional style
  %body
    #topbar.styleomatic
      %a.brand.styleomatic{:href => "/"} PICAWESO.ME
      %span#stream_name.styleomatic= yield :stream_slug
    .outercontainer
      %h4.notice= notice
      %h4.alert= alert

      = yield